* {
    margin  : 0;
    padding : 0;
    border  : none;
}

body {
    width       : 100%;
    height      : 100%;
    font-family : Arial, sans-serif;
    font-size   : 14px;
    background-color : #f5f5f5;
}

textarea, pre {
    font-size : 12px;
}

pre, code {
    font-family : 'Consolas', monospace;
}

pre {
    padding          : 5px;
    border-radius    : 4px;
    background-color : #eee;
}

p {
    margin      : 10px 0;
    line-height : 150%;
}

h1, h2, h3, h4 {
    font-family : 'Fjalla One', Arial, sans-serif;
    font-weight : normal;
}

h1 { margin : 0 0 20px 0; }
h2 { margin : 24px 0 12px 0; }
h3 { margin : 20px 0 8px 0; }

ul {
    margin-left : 20px;
}

table {
    width           : 100%;
    border-collapse : collapse;
}

table th {
    text-align       : left;
    background-color : #ccc;
    color            : #fff;
}

table td,
table th {
    border    : 1px solid #ccc;
    padding   : 2px 4px;
    font-size : 12px;
}

table tbody tr:nth-child(odd) {
    background-color : #f5f5f5;
}

#content {
    background-color : #fff;
    margin           : 0 30px 0 220px;
    padding          : 20px;
    max-width        : 800px;
}

#sidebar {
    position         : fixed;
    top              : 0;
    left             : 0;
    padding          : 20px;
    background-color : #fff;
    border-bottom-right-radius : 4px;
}

#sidebar h1 {
    font-size   : 48px;
    color       : #32CD32;
    margin      : 0;
}

#sidebar p {
    font-size   : 10px;
    color       : #111;
    margin      : 10px 0;
    line-height : 110%;
}

#sidebar p a {
    color : #111;
}

#sidebar ul {
    list-style-type  : none;
    margin           : 0 0 10px 0;
}

#sidebar li {
    padding : 2px 0;
}

#sidebar li a {
    display          : block;
    background-color : #32CD32;
    color            : #fff;
    font-weight      : bold;
    padding          : 4px 6px;
    cursor           : pointer;
    border-radius    : 2px;
    text-transform   : uppercase;
    width            : 150px;
    text-decoration  : none;
}

#sidebar li a:hover {
    background-color : #8c841d;
}

#overlay {
    display  : none;
    position : fixed;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
    background-color : #000;
    opacity  : .6;
    cursor   : pointer;
}

#markup {
    display     : none;
    position    : fixed;
    top         : 50px;
    left        : 50%;
    width       : 900px;
    height      : 470px;
    margin      : 0 0 0 -455px;
    padding     : 5px;
    background-color : #32CD32;
    border-radius    : 6px;
}

#markup textarea {
    font-family   : 'Consolas', monospace;
    height        : 450px;
    width         : 880px;
    padding       : 10px;
    border-radius : 4px;
}